/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Kelly Slab', cursive;
	font-weight: 400;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 { color: #3498db; margin: 10px 0; font-family: 'Amaranth', sans-serif; font-weight: 400; }
h2 { font-size: 1.4em; margin-top: 0; border-bottom: 1px solid; padding-left: 3px; padding-bottom: 2px; margin-bottom: 15px; }
h3 { font-size: 1.4em }
.floatL { float: left; }
.floatR { float: right; }
.clear { clear: both;; line-height: 0; font-size: 0; display: block; }
p { line-height: 21px; color: #333; margin: 5px 0; font-size: 1em; }
a { text-decoration: none; color: #038823; cursor: pointer; }
a:hover { text-decoration: underline; color: #ee1821; }
.alignCenter { text-align: center; }
strong, .strong { font-weight: bold; }
.dispNone { display: none; }
.dispInlineBlock { display: inline-block; }
.dispBlock { display: block; }

/**** App specific styles ***/
h1 { text-align: center; font-size: 2em; margin-bottom: 10px; }
#page { max-width: 960px; margin: 20px auto; }
#content { padding: 20px; background: #f4f4f4; border-style: solid; border-color: #3498db; border-width: 3px 0 0; }

button, .btn { background: #3498db; padding: 8px 25px; color: #fff; text-shadow: 1px 1px #000; border:0; font-size: 16px; margin: 0; position: relative; top: 0px; }
button:hover, .btn:hover { opacity: 0.75; cursor: pointer; }
button.disabled, .btn.disabled { cursor: default; background: #ddd; }
.inpCls { width:55%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; padding: 5px; height: 35px; border: 2px solid #3498db; font-size: 15px; }
button:focus, .btn:focus { outline: none; }

.commandWrapper { position: relative; }
#command { width: 100%; box-sizing: border-box; border: none; border-bottom: 1px solid #666; padding: 10px 30px; height: 40px; font-size: 16px; }
#command:focus { outline: none; box-shadow: 0 5px 5px -3px #aaa; border: none; }
.comandArrow { position: absolute; left: 5px; top: 15px; color: #666; font-size: 14px; }
.outputWrapper { margin-top: 30px;  }
.output li { background: #e0e0e0; border-bottom: 1px solid #ccc; padding: 10px; margin-bottom: 2px; }
.output li:first-child { background: #FDD4D5; border-bottom-color: #ECB3B6; }

